:root{
    --hColor:yellow;
    --fColor:rgb(254, 254, 148);
    --cardHotel: white;
    --breadcrumb: rgba(213, 213, 213, 0.482);
}

.breadcrumb{
    background-color:var(--breadcrumb);
}

.container{
    margin-top: 8vh;
}

.poster{
    border-radius: 10px;
}

.card-hotel{
    background-color: var(--cardHotel);
    flex: 1 25vh;
    padding: 1vh;
    margin-top: 10px;
    margin-left: 10px;
    min-height: 200px;
    min-width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}
.card-hotel:hover{
    transform: scale(1.05);
    z-index: 1;
}
.thumb-hotel{
    margin-bottom: 2vh;
    border-radius: 10px;
}

.btn-reserva{
    width: 100%;
    align-self: flex-end;
}

.btn-submit{
    width: 100%;
}
.btn-contacto{
    min-width: 15%;
}

footer{
    padding: 2em;
    background-color: var(--fColor);
    margin-bottom: 0px;
    margin-top: 1vh;
    align-items: center;
    text-align: center;
}