$yellow: rgb(255, 255, 67);
$jumbotronColor:#fcff47;
$fColor:rgb(63, 63, 63);
$cardHotel: rgb(255, 255, 255);
$breadcrumb: rgba(213, 213, 213, 0.482);

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $jumbotronColor;
}

.breadcrumb{
    background-color:$breadcrumb;
}

.container{
    @include margenes(8vh,0);
}

.poster{
    border-radius: 10px;
}

.card-hotel{
    @include margenes(10px,0);
    background-color: $cardHotel;
    flex: 1 25vh;
    padding: 1vh;
    margin-top: 10px;
    margin-left: 10px;
    min-height: 200px;
    min-width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}
.card-hotel:hover{
    transform: scale(1.05);
    z-index: 1;
}
.thumb-hotel{
    @include margenes(0,2vh);
    border-radius: 10px;
}

.btn-reserva{
    width: 100%;
    align-self: flex-end;
}

.btn-submit{
    width: 100%;
}
.btn-contacto{
    min-width: 15%;
}

footer{
    @include margenes(1vh,0px);
    padding: 2em;
    color:white;
    background-color: $fColor;
    align-items: center;
    text-align: center;
}