.jumbotron {
  background-color: #fcff47; }

.breadcrumb {
  background-color: rgba(213, 213, 213, 0.482); }

.container {
  margin-top: 8vh;
  margin-bottom: 0; }

.poster {
  border-radius: 10px; }

.card-hotel {
  margin-top: 10px;
  margin-bottom: 0;
  background-color: white;
  flex: 1 25vh;
  padding: 1vh;
  margin-top: 10px;
  margin-left: 10px;
  min-height: 200px;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 200ms ease-in-out; }

.card-hotel:hover {
  transform: scale(1.05);
  z-index: 1; }

.thumb-hotel {
  margin-top: 0;
  margin-bottom: 2vh;
  border-radius: 10px; }

.btn-reserva {
  width: 100%;
  align-self: flex-end; }

.btn-submit {
  width: 100%; }

.btn-contacto {
  min-width: 15%; }

footer {
  margin-top: 1vh;
  margin-bottom: 0px;
  padding: 2em;
  color: white;
  background-color: #3f3f3f;
  align-items: center;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
